.auth-page-wrapper--white {
  text-align: left;

  .auth-page-wrapper__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #313037;

    &:hover {
      user-select: none;
    }
  }
}