.search__body {
  position: relative;
  margin: 0 3rem;
  width: 20rem;

  .clear__inner {
      margin-right: 0.5rem;
      position: absolute;
      z-index: 11;
      right: 0;
      top: 50%;
      width: 1.5rem;
      height: 1.5rem;
      opacity: 0.5;
      transform: translateY(-50%);

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

  .search__input {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    outline: none;
    font-size: 1rem;

    &:disabled {
      display: none;
    }
  }
}