.btn {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  margin: 1rem;
  background-color: rgb(241, 240, 240);
  color: black;
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.btn:disabled {
  background-color: rgb(223, 222, 222);
  color: rgba(0, 0, 0);
  opacity: 0.5;
}

.primary {
  background-color: rgb(28, 28, 167);
  color: #fff;
}
.primary:not([disabled]):hover {
  background-color: rgb(65, 65, 255);
}

.secondary {
  color: black;
}
.secondary:not([disabled]):hover {
  background-color: rgb(209, 208, 208);
}

.secondary-two {
  border: 1px solid rgb(250, 250, 250);
  background-color: rgb(250, 250, 250);
  color: tomato
}
.secondary-two:hover {
  border: 1px solid rgb(209, 208, 208);
}
.secondary-two:disabled {
  border: none;
  background-color: rgb(250, 250, 250);
}

.btn-with-icon {
  gap: 1rem;
  align-items: end;
}
.btn-with-icon:not([disabled]):hover {
  color: #fff;
  background-color: rgb(65, 65, 255);
  transition: color ease-in-out 0.1s;
}
.btn-with-icon:hover .icon-mark {
  fill: #fff;
}

.btn-icon-up:hover {
  background-color: tomato;
}
.btn-icon-up:hover .icon-up {
  fill: #fff;}

.btn-icon-down:hover {
  background-color: rgb(65, 65, 255);
}
.btn-icon-down:hover .icon-down {
  fill: #fff;}